.blog-home main .social-share.block .social-links > .button-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    position: absolute;
    left: 10px;
    width: 30%;
}   

.blog-home-container[data-section-status="loaded"] {
    padding: 64px 24px;
}

.blog-home[data-block-status="loaded"] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 48px;
    gap: 48px;

    /* Desktop/Body/Paragraph 3 */
    font-family: 'Alliance Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;

    /* Neutrals/Carbon */
    color: #20201F;

    /* Neutrals/Bone */
    background: #FAF8F6;
}

.blog-home[data-block-status="loaded"] > .blog-card {
    position: relative;
    overflow: hidden;
}

.blog-home[data-block-status="loaded"] > div.blog-card:hover {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 20px 40px -14px rgba(72, 38, 38, 0.25);
}

.blog-home[data-block-status="loaded"] > div.blog-card:hover > picture > img {
    transform: scale(1.05);
}

.blog-home[data-block-status="loaded"] > div.blog-card:hover a {
    color: #90f;
    text-decoration-line: underline;
}

.blog-home-container[data-section-status="loaded"] h2 {
    /* Mobile/Eyebrow/Eyebrow */
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.blog-home[data-block-status="loaded"] > .blog-card > .card-content {
    padding: 32px 24px;
}

.blog-home[data-block-status="loaded"] .blog-link {
    text-decoration: none;
}

.blog-home[data-block-status="loaded"] .blog-link h5 {
    font-weight: 400;
}

.blog-home[data-block-status="loaded"] > .blog-card > .card-content > .blog-author {
    font-size: 12px;
}

.blog-home[data-block-status="loaded"] > .blog-card > .card-content > .blog-category {
    font-size: 14px;
    letter-spacing: .16px;
    background-color: #fff;
    opacity: 0.85;
    border-radius: 100px;
    left: 16px;
    padding: 4px 16px;
    position: absolute;
    top: 24px;
}

@media (min-width: 768px) {
    .blog-home[data-block-status="loaded"] {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1440px) {
    .blog-home[data-block-status="loaded"] {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
