.parallax-background {
  /* Set a specific height */
  min-height: 1100px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax {
  max-width: 100%;
}
