.parallax-background {
  /* Set a specific height */
  min-height: 900px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.section.parallax-container {
  padding: 0px 0px;
}

.section .parallax-wrapper {
  max-width: 100%;
}