.loves .hidden {
  display: none;
}

.loves .button {
  cursor: pointer;
  background: rgb(255 255 255 / 80%);
  color: rgb(233 15 15);
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 300;
  padding: 6px 10px;
  border: none;
}

.loves {
  font-size: 1.0rem;
  font-weight: 100;
  font-style: italic;
  text-align: right;
  display: inline;
}

.loves-wrapper {
  display: inline-block;
  padding-left: clamp(0px, 25%, 310px);
}

.loves .button:hover {
  --link-hover-color: rgb(255 255 255);
}

.loves .button:disabled {
  background: rgb(255 255 255);
  
   --overlay-background-color: rgb(255 255 255);
}

.loves .button-container {
  float: right;
}
