.recent-posts a {
   color: var(--text-color);
}

.recent-posts a:hover {
   text-decoration: none;
}

/* header */
.recent-posts > div:first-child {
   display: flex;
   justify-content: space-between;
   padding: 10px 30px;
   font-size: 16px;
   font-style: italic;
}

.recent-posts > div:first-child div {
   flex: 1;
   display: inline-block;
   text-align: left;
}

.recent-posts > div:first-child a {
   flex: 1;
   display: inline-block;
   text-align: right;
}

/* cards  */
.blog-cards-parent {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 18px;
   font-family: 'GFS Didot', serif;
   align-items: center;
}

.blog-cards-parent .blog-card img {
   object-fit: cover; 
   height: 100%;
   width: 100%;
}

/* title */
.blog-cards-parent .card-content > h2 {
   font-family: 'Playfair Display', serif;
   font-size: 18px;
   line-height: 30px;
   font-style: normal;
}

/* counts */
/* stylelint-disable-next-line no-descending-specificity */
.blog-cards-parent .card-content div {
   border-top: 1px solid #ccc;
   margin: 30px 0;
   padding: 10px 0 30px;
   display: flex;
   margin-inline-start: 16px;
}

.blog-cards-parent .card-content .count {
   display: inline-flex;
   align-items: center;
   color: #000;
   font-size: 12px;
   position: relative;
}

.blog-cards-parent .card-content .views {
   display: inline-flex;
   align-items: center;
   color: #000;
   font-size: 12px;
   position: relative;
   margin-inline-start: 16px;
}

.blog-cards-parent .card-content .loves-recent {
   display: inline-flex;
   align-items: center;
   color: #000;
   font-size: 12px;
   position: relative;
   margin-inline-start: 200px;
}

.loves-recent .button {
   cursor: pointer;
   background: rgb(255 255 255 / 80%);
   color: rgb(233 15 15);
   border-radius: 16px;
   font-size: 1rem;
   font-weight: 300;
   padding: 6px 10px;
   border: none;
   /* stylelint-disable-next-line length-zero-no-unit */
   margin: 0px 0;
 }

.blog-cards-parent .card-content .views img {
   height: 19px;
   width: 19px;
   margin-right: 4px;
}

.blog-cards-parent .card-content .count img {
   height: 19px;
   width: 19px;
   margin-right: 4px;
}

@media (min-width: 600px) {
   .blog-cards-parent {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 30px;
      width: 95%;
      margin: auto;
   }

   .blog-cards-parent .blog-card {
      flex: 1 1 0;
      width: 100%;
   }

   .blog-cards-parent .blog-card img {
      aspect-ratio: 16/9;
   }
}