.views .hidden {
  display: none;
}

.views .button {
  cursor: pointer;
  background: rgb(255 255 255 / 80%);
  color: rgb(0 0 0);
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 6px 10px;
  border: none;
}

.views {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  text-align: left;
  display: inline;
}

.views-wrapper {
  display: inline-block;
  padding-right: clamp(0px, 25%, 310px);
}

.views .button:hover {
  --link-hover-color: rgb(255 255 255);
}

.views .button:disabled {
  background: rgb(255 255 255);

   --overlay-background-color: rgb(255 255 255);
}

